@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    color: hsl(218, 22%, 67%)
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 250px;
    width: 700px;
    margin: 100px auto;
    border-radius: 10px;
    box-sizing: border-box;
}
.items {
    padding: 30px 30px 50px 30px;
}
.item1 {
    grid-column: 1 / -1;
    background-color: hsl(11, 0%, 100%);
    border-radius: 7px 7px 0 0;
}

.item2 {
    grid-column: 1 / 2;
    background-color: hsl(179, 62%, 43%);
    padding: 20px;
    color: hsl(11, 0%, 100%);
    padding: 30px;
    border-bottom-left-radius: 7px;
}

.price-number {
    font-size: 2em;
}
.price-period {
    opacity: 0.8;
    position: relative;
    top: -5px;
    padding-left: 5px;
}
.item3 {
    grid-column: 2 / -1;
    background-color: hsla(179, 62%, 43%, 80%);
    padding: 20px;
    color: hsla(11, 0%, 100%, 80%);
    padding: 30px;
    border-bottom-right-radius: 7px;
}
.item3 ul {
    margin: 0;
    padding: 0;
}
.item3 li {
    list-style: none;
}
p {
    margin: 0 0 10px 0;
}
.main-header {
    color: hsl(179, 62%, 43%);
    font-size: 2em;
}
.smaller-header {
    font-size: 1.2em;
    color: hsl(11, 0%, 100%);
}

.btn {
    background-color: hsl(71, 73%, 54%);
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: white;
    box-shadow: 0px 3px 5px 0 hsl(218, 22%, 67%);
    font-weight: bold;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(179, 62%, 43%);
}